.container{
    text-align: center;
    border: 3px solid black;
    border-radius: 7px;
    padding: 20px 40px;
    /* width: 50vh;  */
    margin: 20px auto;
    width: fit-content; /* genişliğini içeriğe göre ayarlar */
 
}
.git-button{
    background-color: black;
    color: aliceblue;
    margin-left: 2px;
    padding: 5px;
    border-radius: 5px;
}
.input{
    padding: 10px;
    border-radius: 5px;
}
.now{
    opacity: 35%;
}
.feels{
    display: flex; /* yatayda yan yana hizalar */
    
}
.humidity{
    margin-left: 5px;
}
.celcius{
  font-weight: 900;
  font-size:xx-large;   
}
.temp{
    display:inline-flex;
    margin-left: 30px;
    
}